[Desktop Entry]
Name=Filius
Name[de]=Filius
Comment=Learn how Computer Networks are built
Comment[de]=Lernsoftware zu Rechnernetzen
Exec=/usr/share/filius/filius.sh %f
Icon=filius32
Terminal=false
Type=Application
Categories=Education
StartupNotify=false
MimeType=application/filius-project
Keywords=network;simulation;internet;school;education
Keywords[de]=Netzwerk;Simulation;Internet;Schule;Bildung
