Package: filius
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Recommends: default-jdk
Depends: default-jdk | default-jre, desktop-file-utils
Maintainer: Stefan Freischlad <kontakt@lernsoftware-filius.de>
Description: Lernsoftware zu Rechnernetzen
 Entdeckendes Lernen mit Filius durch Simulation von Rechnernetzen
Distribution: production
Homepage: https://www.lernsoftware-filius.de